/* db2_pdo v1.0  @Shinjia  #2022/07/19 */

* {
    margin: 0px;
}

div.container {
    padding: 10px;
    margin: 0 auto;
    width: 760px;
}

div#header {
    padding: 10px;
    background-color: #ffc534; 
}

div#nav {
    padding: 10px;
    background-color: #CCFFFF; 
}


div#main {
    padding: 10px;
    background-color: #FFFFDD; 
}

div#footer {
    padding: 10px;
    background-color: #AAAA33; 
    text-align: center;
}

tr.hightlight {
    background-color: rgb(250, 239, 32);
    color: #000000;
}

th {
    background-color: #AAAAAA;
}


/* 分頁 */
.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.pagination .page-item {
    margin: 0 1px; /* 控制每個項目之間的間距 */
}

.pagination .page-item a {
    text-decoration: none; /* 移除超連結下劃線 */
}

.pagination .page-link {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}
